#array-container {
    width: 100%;
    height: 100%;
    background-color: lightsteelblue;
    text-align: center;
}

.array-bar {
    padding-bottom: 10px;
    display: inline-block;
    margin-top: 25px;
}

.button {
    color: white;
    font-size: 16px;
    font-family: monospace;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 35px;
    cursor: pointer;
}

.button:hover {
    color: rgb(255, 51, 153);
}

.selectedButton {
    color:rgb(255, 51, 153);
    font-size: 16px;
    font-family: monospace;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.space {
    width: 5px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 25px;
    margin-right: 25px;
    display: inline-block;
}

.menu {
    width: 100%;
    background-color: steelblue;
}

#page {
    color: white;
}

#size {
    display: inline-block;
}

#speed {
    display: inline-block;
}