#array-container {
    height: 100%;
    background-color: lightsteelblue;
    text-align: center;
}

.array-bar {
    display: inline-block;
    margin-top: 25px;
    border-radius: 5px;
    user-select: none;
}

.button {
    color: floralwhite;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    color: #000000;
}

.selectedButton {
    color:#000000;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    user-select: none;
}

.menu-container {
    display: flex;
    background-color: steelblue;
    height: 100%;
}

.menu {
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu.extra-padding {
    padding: 50px 0;
}

.row {
    width: 100%;
    flex: 1 0 100%;
    align-items: center;
    justify-content: center;
}

#page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
}

.desc {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    cursor: default;
    padding-bottom: 15px;
    padding-top: 20px;
    user-select: none;
    color: floralwhite;
}

.desc:hover {
    cursor: default;
}

.makeArrayButton {
    width: 50px;
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    opacity: 0.75;
    margin: auto;
    border-color: black;
    border-radius: 25px;
    user-select: none;
}

.makeArrayButton:hover {
    opacity: 1;
}

#makeArrayContainer {
    margin: auto;
}

.sliderContainer {
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    width: 250px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.75;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-color: #d3d3d3;
    border-radius: 5px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #000000;
    cursor: pointer;
    border-color: black;
    border-radius: 5px;
}